body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    margin: auto;
    background-color: rgb(181, 215, 215);
    line-height: 1.5rem;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    padding-top: 10px;
    text-align: center;
}

#globe {
    display: flex;
    margin: auto;
    height: auto;
    width: 170px;
}

img {
    display: flex;
    width: 250px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

#clock {
    font-weight: 600;
    padding-bottom: 10px;
}

@media screen and (max-width: 850px) {
    body {
        max-width: 630px;
        margin: 10px;
    }
}
