body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    margin: auto;
    background-color: lightcyan;
    line-height: 1.5rem;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    text-align: center;
}

#globe {
    display: flex;
    margin: auto;
}

#syria-map {
    display: flex;
    width: 300px;
    height: auto;
}

#closing {
    text-align: center;
}

#clock {
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 850px) {
    body {
        max-width: 630px;
        margin: 10px;
    }
}
